* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    display: flex;
    background: #000;
    padding: 3px;
    bottom: 0;
}

form input {
    flex: 1;
    border: 0;
    padding: 10px;
    margin-right: .5%;
}

form button {
    background-color: #4fb3bf;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    min-width: 20%;
}

form button:hover {
    background: #00838f;
    color: white;
}
